### Titanic_Machine_Learning_from_disaster

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [49]:
import pandas as pd
import numpy as np

In [50]:
train_data = pd.read_csv("E:/Hero Vired/001.KAGGLE_Learning_Competitions/Competitions files/datasets/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [51]:
test_data = pd.read_csv("E:/Hero Vired/001.KAGGLE_Learning_Competitions/Competitions files/datasets/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [52]:
train_data.shape

(891, 12)

In [53]:
test_data.shape

(418, 11)

In [54]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [55]:
train_data['Embarked'].mode()

0    S
Name: Embarked, dtype: object

In [56]:
# Filling null values of embarked column with mode i.e most occuring value
train_data['Embarked'].fillna(value='S',inplace=True)

In [57]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [58]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [59]:
train_data['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [60]:
train_data['SibSp'].unique()

array([1, 0, 3, 4, 2, 5, 8], dtype=int64)

In [61]:
train_data['Parch'].unique()

array([0, 1, 2, 5, 3, 4, 6], dtype=int64)

In [62]:
train_data['Pclass'].unique()

array([3, 1, 2], dtype=int64)

In [63]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [64]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [65]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, precision_score, recall_score, f1_score

In [19]:
y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch", "Embarked"]
X = pd.get_dummies(train_data,columns=features)
print(X.columns)
X.drop(['PassengerId', 'Survived', 'Name', 'Age', 'Ticket', 'Fare', 'Cabin'], axis=1, inplace=True)
print(X)

Index(['PassengerId', 'Survived', 'Name', 'Age', 'Ticket', 'Fare', 'Cabin',
       'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female', 'Sex_male', 'SibSp_0',
       'SibSp_1', 'SibSp_2', 'SibSp_3', 'SibSp_4', 'SibSp_5', 'SibSp_8',
       'Parch_0', 'Parch_1', 'Parch_2', 'Parch_3', 'Parch_4', 'Parch_5',
       'Parch_6', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')
     Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male  SibSp_0  SibSp_1  \
0           0         0         1           0         1        0        1
1           1         0         0           1         0        0        1
2           0         0         1           1         0        1        0
3           1         0         0           1         0        0        1
4           0         0         1           0         1        1        0
..        ...       ...       ...         ...       ...      ...      ...
886         0         1         0           0         1        1        0
887         1         0         0           1         0        1        0
888         0         0         1           1         0        0        1
889         1         0         0           0         1        1        0
890         0         0         1           0         1        1        0

     SibSp_2  SibSp_3  SibSp_4  ...  Parch_0  Parch_1  Parch_2  Parch_3  \
0          0        0        0  ...        1        0        0        0
1          0        0        0  ...        1        0        0        0
2          0        0        0  ...        1        0        0        0
3          0        0        0  ...        1        0        0        0
4          0        0        0  ...        1        0        0        0
..       ...      ...      ...  ...      ...      ...      ...      ...
886        0        0        0  ...        1        0        0        0
887        0        0        0  ...        1        0        0        0
888        0        0        0  ...        0        0        1        0
889        0        0        0  ...        1        0        0        0
890        0        0        0  ...        1        0        0        0

     Parch_4  Parch_5  Parch_6  Embarked_C  Embarked_Q  Embarked_S
0          0        0        0           0           0           1
1          0        0        0           1           0           0
2          0        0        0           0           0           1
3          0        0        0           0           0           1
4          0        0        0           0           0           1
..       ...      ...      ...         ...         ...         ...
886        0        0        0           0           0           1
887        0        0        0           0           0           1
888        0        0        0           0           0           1
889        0        0        0           1           0           0
890        0        0        0           0           1           0

[891 rows x 22 columns]

In [35]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, stratify=y)
print(X_train.shape)
print(X_val.shape)

(668, 22)
(223, 22)

### Random Forest Classifier

In [48]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_val = scaler.transform(X_val)

model = RandomForestClassifier(n_estimators=100, max_depth=7, random_state=73)
model.fit(X_train, y_train)
predictions = model.predict(X_val)
accu1 = accuracy_score(y_val,predictions)
print(" Accuracy score with Random Forest classifier",accu1)

 Accuracy score with Random Forest classifier 0.7937219730941704

### Logistic Regresion

In [32]:
y = train_data["Survived"]

X1_train, X1_val, y1_train, y1_val = train_test_split(X, y, test_size=0.25, stratify=y,random_state=73)

scaler = StandardScaler()
X1_train = scaler.fit_transform(X1_train)
X1_val = scaler.transform(X1_val)

model1 = LogisticRegression()
model1.fit(X1_train,y1_train)
ypred = model1.predict(X1_val)
accu2 = accuracy_score(y1_val,ypred)
print("Logistic Regression",accu2)

Logistic Regression 0.8251121076233184

### Preparation for Kaggle

In [70]:
y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch", "Embarked"]
X = pd.get_dummies(train_data,columns=features)
print(X.columns)
X.drop(['PassengerId', 'Survived', 'Name', 'Age', 'Ticket', 'Fare', 'Cabin'], axis=1, inplace=True)
print(X)

X_test = pd.get_dummies(test_data,columns=features)
print(X_test.columns)
X_test.drop(['PassengerId', 'Name', 'Age', 'Ticket', 'Fare', 'Cabin','Parch_9'], axis=1, inplace=True)
print(X_test)

scaler = StandardScaler()
X = scaler.fit_transform(X)
X_test = scaler.transform(X_test)

model = LogisticRegression()
model.fit(X,y)
predictions = model.predict(X_test)


output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Index(['PassengerId', 'Survived', 'Name', 'Age', 'Ticket', 'Fare', 'Cabin',
       'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female', 'Sex_male', 'SibSp_0',
       'SibSp_1', 'SibSp_2', 'SibSp_3', 'SibSp_4', 'SibSp_5', 'SibSp_8',
       'Parch_0', 'Parch_1', 'Parch_2', 'Parch_3', 'Parch_4', 'Parch_5',
       'Parch_6', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')
     Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male  SibSp_0  SibSp_1  \
0           0         0         1           0         1        0        1
1           1         0         0           1         0        0        1
2           0         0         1           1         0        1        0
3           1         0         0           1         0        0        1
4           0         0         1           0         1        1        0
..        ...       ...       ...         ...       ...      ...      ...
886         0         1         0           0         1        1        0
887         1         0         0           1         0        1        0
888         0         0         1           1         0        0        1
889         1         0         0           0         1        1        0
890         0         0         1           0         1        1        0

     SibSp_2  SibSp_3  SibSp_4  ...  Parch_0  Parch_1  Parch_2  Parch_3  \
0          0        0        0  ...        1        0        0        0
1          0        0        0  ...        1        0        0        0
2          0        0        0  ...        1        0        0        0
3          0        0        0  ...        1        0        0        0
4          0        0        0  ...        1        0        0        0
..       ...      ...      ...  ...      ...      ...      ...      ...
886        0        0        0  ...        1        0        0        0
887        0        0        0  ...        1        0        0        0
888        0        0        0  ...        0        0        1        0
889        0        0        0  ...        1        0        0        0
890        0        0        0  ...        1        0        0        0

     Parch_4  Parch_5  Parch_6  Embarked_C  Embarked_Q  Embarked_S
0          0        0        0           0           0           1
1          0        0        0           1           0           0
2          0        0        0           0           0           1
3          0        0        0           0           0           1
4          0        0        0           0           0           1
..       ...      ...      ...         ...         ...         ...
886        0        0        0           0           0           1
887        0        0        0           0           0           1
888        0        0        0           0           0           1
889        0        0        0           1           0           0
890        0        0        0           0           1           0

[891 rows x 22 columns]
Index(['PassengerId', 'Name', 'Age', 'Ticket', 'Fare', 'Cabin', 'Pclass_1',
       'Pclass_2', 'Pclass_3', 'Sex_female', 'Sex_male', 'SibSp_0', 'SibSp_1',
       'SibSp_2', 'SibSp_3', 'SibSp_4', 'SibSp_5', 'SibSp_8', 'Parch_0',
       'Parch_1', 'Parch_2', 'Parch_3', 'Parch_4', 'Parch_5', 'Parch_6',
       'Parch_9', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')
     Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male  SibSp_0  SibSp_1  \
0           0         0         1           0         1        1        0
1           0         0         1           1         0        0        1
2           0         1         0           0         1        1        0
3           0         0         1           0         1        1        0
4           0         0         1           1         0        0        1
..        ...       ...       ...         ...       ...      ...      ...
413         0         0         1           0         1        1        0
414         1         0         0           1         0        1        0
415         0         0         1           0         1        1        0
416         0         0         1           0         1        1        0
417         0         0         1           0         1        0        1

     SibSp_2  SibSp_3  SibSp_4  ...  Parch_0  Parch_1  Parch_2  Parch_3  \
0          0        0        0  ...        1        0        0        0
1          0        0        0  ...        1        0        0        0
2          0        0        0  ...        1        0        0        0
3          0        0        0  ...        1        0        0        0
4          0        0        0  ...        0        1        0        0
..       ...      ...      ...  ...      ...      ...      ...      ...
413        0        0        0  ...        1        0        0        0
414        0        0        0  ...        1        0        0        0
415        0        0        0  ...        1        0        0        0
416        0        0        0  ...        1        0        0        0
417        0        0        0  ...        0        1        0        0

     Parch_4  Parch_5  Parch_6  Embarked_C  Embarked_Q  Embarked_S
0          0        0        0           0           1           0
1          0        0        0           0           0           1
2          0        0        0           0           1           0
3          0        0        0           0           0           1
4          0        0        0           0           0           1
..       ...      ...      ...         ...         ...         ...
413        0        0        0           0           0           1
414        0        0        0           1           0           0
415        0        0        0           0           0           1
416        0        0        0           0           0           1
417        0        0        0           1           0           0

[418 rows x 22 columns]
Your submission was successfully saved!